<div class="card bg-warning" style="max-height: 300px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="/assets/images/burger.jpeg" class="card-img responsive-img" alt="burger"
                style="max-height: 250px;">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title burger-text">EAT-DA-BURGER</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="p-3">
        <h2 class="text-center">Burgers to Devour</h2>

        <ul>
            {{#each burger}}
            {{#unless isDevour}}
            <li>
                {{name}}
                <button class="devour btn btn-secondary" data-id="{{id}}">
                    DEVOUR IT
                </button>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="p-3">
        <h2 class="text-center">Devoured Burgers</h2>

        <ul>
            {{#each burger}}
            {{#if isDevour}}
            <li>
                {{name}}
            </li>
            {{/if}}
            {{/each}}
        </ul>


    </div>
    <div class="p-3 text-center">

        <h2>Add a burger</h2>
        <form class="create-form border border-danger p-2">

            <div class="form-group">
                <label for="bg">Burger Name:</label>
                <input type="text" id="bg" name="name">
            </div>
            <div style="padding-left: 70px;">
               <button type="submit" class="btn btn-dark">Add Burger</button> 
            </div>
            
        </form>
    </div>

</div>